<link href="https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer|Kaushan+Script" rel="stylesheet">

body {
  background-color: #FEFBFF
}

#title {
  font-family: 'Kaushan Script', cursive;
  color: #2C401D;
  font-size: 70px;
  padding-top: 20px;
}

#subtitle {
  font-family: 'Kaushan Script', cursive;
  color: #2C401D;
  font-size: 40px;
  padding-bottom: 50px;
  padding-left: 80px;
}

#triplet {
  padding-bottom: 50px;
}

#writing {
  font-family: 'IM Fell Great Primer', serif;
}

#novel-list {
  font-family: 'IM Fell Great Primer', serif;
  color: #2C401D;
  font-size: 16px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#poirot {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}
